<nav class="mx-auto flex justify-end">
    <% if (typeof isProductPage !== 'undefined' && isProductPage) { %>
        <select id="tabDropdown" onchange="switchTab(this.value)"
            class="w-[11%] py-2 text-lg rounded-xl text-center mx-4 bg-primary border-none bg-white">
            <option value="tab1">Keycaps</option>
            <option value="tab2">Switches</option>
            <option value="tab3">Case</option>
            <option value="tab4">PCB</option>
            <option value="tab5">Plate</option>
        </select>
    <% } %>

    <select id="sortDropdown" class="w-[11%] py-2 text-lg rounded-xl text-center mx-4 bg-primary border-none bg-white"
        onchange="sortProducts()">
        <option value="">Sort by</option>
        <option value="lowtohigh" <%= (sortBy && sortBy ==='lowtohigh' ) ? 'selected' : '' %>>Price, low to high</option>
        <option value="hightolow" <%= (sortBy && sortBy ==='hightolow' ) ? 'selected' : '' %>>Price, high to low</option>
        <option value="atoz" <%= (sortBy && sortBy ==='atoz' ) ? 'selected' : '' %>>Title, A-Z</option>
        <option value="ztoa" <%= (sortBy && sortBy ==='ztoa' ) ? 'selected' : '' %>>Title, Z-A</option>
        <option value="oldtonew" <%= (sortBy && sortBy ==='oldtonew' ) ? 'selected' : '' %>>Date, old to new</option>
        <option value="newtoold" <%= (sortBy && sortBy ==='newtoold' ) ? 'selected' : '' %>>Date, new to old</option>
    </select>
</nav>
