<%- include('partials/headHtml')%>
    <body class=" text-white text-primary bg-primary">
        <%- include('partials/navUser')%>

        <section class="w-[90vw] mx-auto mt-5 max-lg:w-[100vw] min-h-[500px]">
            <h1 class="text-5xl mb-5 ps-5"> ตะกร้าสินค้า </h1>
            <div class="flex ms-20 max-lg:flex-col">

                <form action="/update-cart" class="w-[75%]">
                    <table class="w-[100%]">
                        <tr class="border-b">
                            <th class="w-[20%] py-2"> รูป </th>
                            <th> สินค้า </th>
                            <th> ราคา </th>
                            <th> จำนวน </th>
                            <th> รวม </th>
                            <th> แก้ไข </th>
                        </tr>
    
                        <% cart.forEach(item => { %>
                        <tr class="border-b-2 border-b-neutral-600">
                            <td class="flex justify-center"> <img src="<%= item.img %>" alt="" class="w-[135px] my-4"> </td>
                            <td class="text-center text-xl w-[30%]"> <%= item.name %> </td>
                            <td class="text-center text-xl"> <%= item.price %> บาท </td>
                            <td class="text-center text-xl"> <%= item.quantity %> </td>
                            <td class="text-center text-xl"> <%= item.totalPrice %> บาท </td>
                            <td class="text-center text-xl"> <a href="/deleteCart?name=<%= item.name %>" class="border p-2 bg-red-500"> ลบสินค้า </a></td>
                        </tr>
                        <% }) %>
                    </table>
                </form>

                <div class="w-[25%] mt-5 ms-20 bg-primary h-fit p-5 max-lg:w-[75%] max-lg:ms-0 shadow-xl">
                    <div for="" class="text-3xl max-lg:text-2xl mb-8"> รวมทั้งสิ้น <span> <%= totalAmount %> </span> บาท</div>
                    <a class="bg-white text-black px-5 py-2 w-[100%] mt-5" href="/payment"> ชำระเงิน </a>
                </div>
            </div>
        </section>
    </body>
    <%- include('partials/footHtml')%>