<%- include('partials/headHtml')%>

    <body class="bg-third">
        <%- include('partials/nav')%>
            <section class="my-5">
                <h1 class="text-5xl font-bold  text-center my-8 text-white text-primary">
                    คีย์บอร์ดพร้อมใช้งาน
                </h1>
                <%- include('partials/sort', { sortBy: sortBy }) %>


                    <div class="grid grid-col-1 md:grid-cols-2 gap-7 text-center mt-10 my-10 text-white lg:grid-cols-4">
                        <% if (pre_built && pre_built.length> 0) { %>
                            <% pre_built.forEach(pre_builtItem=> { %>
                                <div class="h-[420px] wrap3 inline-block">
                                    <a href="/buy/<%= pre_builtItem.prod_id %>">
                                        <div class="flex justify-center"
                                            style="position: absolute;width: 100%;height: 100%;">
                                            <img src="<%= pre_builtItem.img1 %>" class="img-back text-center">
                                            <img src="<%= pre_builtItem.img2 %>" class="img-front">
                                        </div>
                                        <div class="flex items-end p-10 mt-10 text-start justify-center"
                                            style="position: absolute;width: 100%;height: 100%;">
                                            <div class="mt-4 inline-block text-center">
                                                <p class="text-xl text-brand">
                                                    <%= pre_builtItem.name %>
                                                </p>
                                                <p class="text-des">
                                                    <%= pre_builtItem.price %> บาท
                                                </p>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <% }); %>
                                    <% } else { %>
                                        <p class="text-center text-white">No Pre-built available.</p>
                                        <% } %>
                    </div>

            </section>
    </body>
    <script>
        function sortProducts() {
            let sortValue = document.getElementById("sortDropdown").value;

            if (sortValue) {
                let currentUrl = new URL(window.location.href);
                currentUrl.searchParams.set("sort", sortValue);

                window.location.href = currentUrl.toString();
            }
        }
    </script>
    <%- include('partials/footHtml')%>