<%- include('partials/headHtml')%>

    <body class="bg-third">
        <%- include('partials/nav')%>
            <section class="my-5">
                <h1 class="text-5xl font-bold  text-center my-8 text-white text-primary">
                    สินค้าของเรา
                </h1>
                <%- include('partials/sort', { sortBy: sortBy, isProductPage: true }) %>


                    <!-- Tab Content -->
                    <div id="tab1" class="tab-content block">

                        <!-- Add Keycaps products here -->

                        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-7 text-center mt-10 my-10 text-white">
                            <% if (keycaps && keycaps.length> 0) { %>
                                <% keycaps.forEach(keycapsItem=> { %>
                                    <div class="h-[420px] wrap3 inline-block">
                                        <a href="/buy/<%= keycapsItem.prod_id %>">
                                            <div class="flex justify-center"
                                                style="position: absolute;width: 100%;height: 100%;">
                                                <img src="<%= keycapsItem.img1 %>" class="img-back text-center">
                                                <img src="<%= keycapsItem.img2 %>" class="img-front">
                                            </div>
                                            <div class="flex items-end p-10 mt-10 text-start justify-center"
                                                style="position: absolute;width: 100%;height: 100%;">
                                                <div class="mt-4 inline-block text-center">
                                                    <p class="text-3xl text-brand">
                                                        <%= keycapsItem.name %>
                                                    </p>
                                                    <p class="text-des">
                                                        <%= keycapsItem.price %> บาท
                                                    </p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <% }); %>
                                        <% } else { %>
                                            <p class="text-center text-white">No Keycaps available.</p>
                                            <% } %>
                        </div>

                    </div>

                    <div id="tab2" class="tab-content hidden">

                        <!-- Add Switches products here -->

                        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-7 text-center mt-10 my-10 text-white">
                            <% if (switches && switches.length> 0) { %>
                                <% switches.forEach(switchItem=> { %>
                                    <div class="h-[420px] wrap3 inline-block">
                                        <a href="/buy/<%= switchItem.prod_id %>">
                                            <div class="flex justify-center"
                                                style="position: absolute;width: 100%;height: 100%;">
                                                <img src="<%= switchItem.img1 %>" class="img-back text-center">
                                                <img src="<%= switchItem.img2 %>" class="img-front">
                                            </div>
                                            <div class="flex items-end p-10 mt-10 text-start justify-center"
                                                style="position: absolute;width: 100%;height: 100%;">
                                                <div class="mt-4 inline-block text-center">
                                                    <p class="text-3xl text-brand">
                                                        <%= switchItem.name %>
                                                    </p>
                                                    <p class="text-des">
                                                        <%= switchItem.price %> บาท
                                                    </p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <% }); %>
                                        <% } else { %>
                                            <p class="text-center text-white">No switches available.</p>
                                            <% } %>
                        </div>

                    </div>

                    <div id="tab3" class="tab-content hidden">

                        <!-- Add Case products here -->

                        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-7 text-center mt-10 my-10 text-white">
                            <% if (cases && cases.length> 0) { %>
                                <% cases.forEach(casesItem=> { %>
                                    <div class="h-[420px] wrap3 inline-block">
                                        <a href="/buy/<%= casesItem.prod_id %>">
                                            <div class="flex justify-center"
                                                style="position: absolute;width: 100%;height: 100%;">
                                                <img src="<%= casesItem.img1 %>" class="img-back text-center">
                                                <img src="<%= casesItem.img2 %>" class="img-front">
                                            </div>
                                            <div class="flex items-end p-10 mt-10 text-start justify-center"
                                                style="position: absolute;width: 100%;height: 100%;">
                                                <div class="mt-4 inline-block text-center">
                                                    <p class="text-3xl text-brand">
                                                        <%= casesItem.name %>
                                                    </p>
                                                    <p class="text-des">
                                                        <%= casesItem.price %> บาท
                                                    </p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <% }); %>
                                        <% } else { %>
                                            <p class="text-center text-white">No Keycaps available.</p>
                                            <% } %>
                        </div>

                    </div>

                    <div id="tab4" class="tab-content hidden">

                        <!-- Add PCB products here -->

                        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-7 text-center mt-10 my-10 text-white">
                            <% if (pcb && pcb.length> 0) { %>
                                <% pcb.forEach(pcbItem=> { %>
                                    <div class="h-[420px] wrap3 inline-block">
                                        <a href="/buy/<%= pcbItem.prod_id %>">
                                            <div class="flex justify-center"
                                                style="position: absolute;width: 100%;height: 100%;">
                                                <img src="<%= pcbItem.img1 %>" class="img-back text-center">
                                                <img src="<%= pcbItem.img2 %>" class="img-front">
                                            </div>
                                            <div class="flex items-end p-10 mt-10 text-start justify-center"
                                                style="position: absolute;width: 100%;height: 100%;">
                                                <div class="mt-4 inline-block text-center">
                                                    <p class="text-3xl text-brand">
                                                        <%= pcbItem.name %>
                                                    </p>
                                                    <p class="text-des">
                                                        <%= pcbItem.price %> บาท
                                                    </p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <% }); %>
                                        <% } else { %>
                                            <p class="text-center text-white">No PCBs available.</p>
                                            <% } %>
                        </div>

                    </div>

                    <div id="tab5" class="tab-content hidden">

                        <!-- Add Plate products here -->

                        <div class="grid grid-cols-4 gap-7 text-center mt-10 my-10 text-white">
                            <% if (plates && plates.length> 0) { %>
                                <% plates.forEach(platesItem=> { %>
                                    <div class="h-[420px] wrap3 inline-block">
                                        <a href="/buy/<%= platesItem.prod_id %>">
                                            <div class="flex justify-center"
                                                style="position: absolute;width: 100%;height: 100%;">
                                                <img src="<%= platesItem.img1 %>" class="img-back text-center">
                                                <img src="<%= platesItem.img2 %>" class="img-front">
                                            </div>
                                            <div class="flex items-end p-10 mt-10 text-start justify-center"
                                                style="position: absolute;width: 100%;height: 100%;">
                                                <div class="mt-4 inline-block text-center">
                                                    <p class="text-3xl text-brand">
                                                        <%= platesItem.name %>
                                                    </p>
                                                    <p class="text-des">
                                                        <%= platesItem.price %> บาท
                                                    </p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <% }); %>
                                        <% } else { %>
                                            <p class="text-center text-white">No Plates available.</p>
                                            <% } %>
                        </div>

                    </div>


            </section>
    </body>
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            let savedTab = localStorage.getItem("selectedTab") || "tab1";
            switchTab(savedTab);
            document.getElementById("tabDropdown").value = savedTab;
        });

        function switchTab(tabName) {
            document.querySelectorAll('.tab-content').forEach(content => {
                content.classList.add('hidden');
                content.classList.remove('block');
            });

            document.getElementById(tabName).classList.remove('hidden');
            document.getElementById(tabName).classList.add('block');

            localStorage.setItem("selectedTab", tabName);
        }

        function sortProducts() {
            let sortValue = document.getElementById("sortDropdown").value;
            let currentUrl = new URL(window.location.href);

            if (sortValue) {
                currentUrl.searchParams.set("sort", sortValue);
            }

            let activeTab = localStorage.getItem("selectedTab") || "tab1";
            currentUrl.searchParams.set("tab", activeTab);

            window.location.href = currentUrl.toString();
        }

        document.addEventListener("DOMContentLoaded", () => {
            let urlParams = new URLSearchParams(window.location.search);
            let savedTab = urlParams.get("tab") || localStorage.getItem("selectedTab") || "tab1";
            switchTab(savedTab);
        });

    </script>
    <%- include('partials/footHtml')%>