<%- include('partials/headHtml')%>
    <body class="bg-primary text-primary">

        
        
        
        <%- include('partials/navUser')%>
        <section class="text-white w-[75vw] mx-auto my-5 max-lg:w-[100vw]">
            <h1 class="text-5xl pl-4"> ข้อมูลส่วนตัว </h1>

            <div class="ml-40 bg-primary mt-5 py-5 px-5 max-lg:ml-4 max-md:ml-2 shadow-lg">
                <h2 class="text-2xl mb-3"> Email </h2>
                <h2 class="text-xl"> <%= JSON.stringify(email.email) %></h2>
            </div>
            <form action="/user" method="POST">
                <div class="ml-40 bg-primary mt-5 py-5 px-5 max-lg:ml-4 max-md:ml-2 shadow-lg">
                    <div class="flex justify-between items-center">
                        <h2 class="text-2xl mb-3"> ที่อยู่ </h2>
                        <button class="px-5 py-2 bg-third mb-3 hover:bg-red-300 duration-300" type="submit"> บันทึก </button>
                    </div>
                <!-- ถ้าไม่มีข้อมูลในฐานข้อมูล -->
                    <input type="text" class="input-address bg-third border-none w-[40%] max-lg:w-[100%] bg-primary" placeholder="ป้อนที่อยู่ของคุณ" name="addressInput" value="<%= JSON.stringify(address.address) %>">

                <!-- ถ้ามีข้อมูลในฐานข้อมูล -->
                    <h2 class="text-xl "> </h2>

                </div>
            </form>
            <!-- order part -->
            <h1 class="text-5xl my-5 pl-4"> คำสั่งซื้อ </h1>
            <div class="ml-40 mt-5 py-5 px-5 max-lg:ml-0">
                <table class="border-b w-[100%]">

                    <tr class="border-b">
                        <th class="w-[20%] py-2"> รหัสคำสั่งซื้อ </th>
                        <th> ราคา </th>
                        <th> สถานะ </th>
                        <th> รายละเอียด </th>
                    </tr>

                    <tr class="border-b-2 border-b-neutral-600">
                        <td class="text-center text-xl py-10"> 15754 </td>
                        <td class="text-center text-xl"> 199 บาท </td>
                        <td class="text-center text-xl"> Complete </td>
                        <!-- ใน popovertarget กับ id ให้เอา orderID มาใส่ตอนดึงข้อมูล เพื่อให้มันเปิดได้ถูกหน้าต่าง -->
                        <td class="text-center text-xl"> <button class="border p-5 bg-white text-black" popovertarget="popup1"> ดูรายละเอียด </button> </td>

                        <div id="popup1" class="bg-white border-gray-300 border-8 p-5 w-[35vw] fixed top-1/2 left-1/2 
                        translate-x-[-50%] translate-y-[-50%] shadow-lg max-lg:w-[80vw]" popover>
                            <h1 class="text-3xl font-bold">
                                <span class="text-3xl text-gray-300"> | </span> Order details
                            </h1>
                        
                            <section class="max-h-[40vh] overflow-y-auto ml-4 mt-4">

                                <div class="flex my-4 p-2 shadow-md">
                                    <img src="https://m.media-amazon.com/images/I/6168x4pbvbL.jpg" alt="" width="100">
                                    <div class="w-[60%] pl-5 pt-3">
                                        <p class="font-bold"> Keychron switch </p>
                                        <p> switch: red </p>
                                    </div>
                                    <p class="flex flex-col justify-end font-bold"> Price 900 baht</p>
                                </div>

                                <div class="flex my-4 p-2 shadow-md">
                                    <img src="https://m.media-amazon.com/images/I/6168x4pbvbL.jpg" alt="" width="100">
                                    <div class="w-[60%] pl-5 pt-3">
                                        <p class="font-bold"> Keychron switch </p>
                                        <p> switch: red </p>
                                    </div>
                                    <p class="flex flex-col justify-end font-bold"> Price 900 baht</p>
                                </div>
                                

                                
                
                                <div class="flex justify-end">
                                    <p class="bg-yellow-400 p-2 w-[20%] text-center font-bold"> รอยืนยัน </p>
                                    <!-- <p class="bg-orange-400 p-2 w-[20%] text-center font-bold"> กำลังผลิต </p>
                                    <p class="bg-green-400 p-2 w-[20%] text-center font-bold"> สำเร็จ </p>
                                    <p class="bg-red-400 p-2 w-[20%] text-center font-bold"> ยกเลิก </p> -->
                                </div>
                            </section>
                        </div>
                        <!-- end of comment -->
                    </tr>


                    

                    


                </table>
            </div>
        </section>
        <script>

            const addButton = document.querySelector('.add-button');
            const input = document.querySelector('.input-address')
            addButton.addEventListener('click', () =>{
                if (input.classList.contains('hidden')) {
                    input.classList.remove('hidden');
                    input.focus();
                    addButton.classList.add('hidden') // แสดง input
                } else {
                    input.classList.add('hidden'); // ซ่อน input
                }
            })

            input.addEventListener('blur', () => {
                    input.classList.add('hidden');
                    addButton.classList.remove('hidden')
                });
        </script>
    </body>
    <%- include('partials/footHtml')%>