<%- include('partials/headHtml')%>
    <body class="bg-primary text-primary">

        
        
        
        <%- include('partials/navUser')%>

        
            
        

        <section class="text-white w-[75vw] mx-auto my-5 max-lg:w-[100vw]">
            <h1 class="text-5xl pl-4"> ข้อมูลส่วนตัว </h1>

            <div class="ml-40 bg-primary mt-5 py-5 px-5 max-lg:ml-4 max-md:ml-2 shadow-lg">
                <h2 class="text-2xl mb-3"> Email </h2>
                <h2 class="text-xl"> <%= JSON.stringify(email.email) %></h2>
            </div>
            <form action="/user" method="POST">
                <div class="ml-40 bg-primary mt-5 py-5 px-5 max-lg:ml-4 max-md:ml-2 shadow-lg">
                    <div class="flex justify-between items-center">
                        <h2 class="text-2xl mb-3"> ที่อยู่ </h2>
                        <button class="px-5 py-2 bg-third mb-3 hover:bg-red-300 duration-300" type="submit"> บันทึก </button>
                    </div>
                <!-- ถ้าไม่มีข้อมูลในฐานข้อมูล -->
                    <input type="text" class="input-address bg-third border-none w-[40%] max-lg:w-[100%] bg-primary" placeholder="ป้อนที่อยู่ของคุณ" name="addressInput" value="<%= JSON.stringify(address.address) %>">

                <!-- ถ้ามีข้อมูลในฐานข้อมูล -->
                    <h2 class="text-xl "> </h2>

                </div>
            </form>
            <!-- order part -->
            <h1 class="text-5xl my-5 pl-4"> คำสั่งซื้อ </h1>
            <div class="ml-40 mt-5 py-5 px-5 max-lg:ml-0">
                <table class="border-b w-[100%]">

                    <tr class="border-b">
                        <th class="w-[20%] py-2"> รหัสคำสั่งซื้อ </th>
                        <th> ราคา </th>
                        <th> สถานะ </th>
                        <th> รายละเอียด </th>
                    </tr>
                    <% orders.forEach(order => { %>
                    <tr class="border-b-2 border-b-neutral-600">
                        <td class="text-center text-xl py-10"> <%= order.order_id %> </td>
                        <td class="text-center text-xl"> <%= order.total_price %> บาท </td>
                        <td class="text-center text-xl"> <%= order.status %> </td>
                        <!-- ใน popovertarget กับ id ให้เอา orderID มาใส่ตอนดึงข้อมูล เพื่อให้มันเปิดได้ถูกหน้าต่าง -->
                        <td class="text-center text-xl"> <a class="border p-5 bg-white text-black" href="/orderItems?orderId=<%= order.order_id %>"> ดูรายละเอียด </a> </td>
                        <!-- end of comment -->
                    </tr>
                    <% }) %>

                    

                    


                </table>
            </div>
        </section>
        <script>

            const addButton = document.querySelector('.add-button');
            const input = document.querySelector('.input-address')
            addButton.addEventListener('click', () =>{
                if (input.classList.contains('hidden')) {
                    input.classList.remove('hidden');
                    input.focus();
                    addButton.classList.add('hidden') // แสดง input
                } else {
                    input.classList.add('hidden'); // ซ่อน input
                }
            })

            input.addEventListener('blur', () => {
                    input.classList.add('hidden');
                    addButton.classList.remove('hidden')
                });
        </script>
    </body>
    <%- include('partials/footHtml')%>